/* リセットスタイル */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    background-color: #1e1610;
    color: #f4ece2;
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
}

header {
    background-color: rgba(27, 24, 22, 0.9) !important;
    backdrop-filter: blur(8px);
    border-bottom: 2px solid #d4af37;
    position: sticky;
    top:0;
    z-index: 1000;
}


.header-container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.site-title {
    display: inline-block;
    font-size: 40px;
    font-weight: bold;
    color: #d4af37 !important;
    text-shadow: 0 0 10px rgba(212, 175, 55, 0.3);
    font-style: italic;
    font-family: "Playfair Display", serif;
    text-align: left;
    margin-left: 30px;
    letter-spacing: 2px;
    text-decoration: none;
    transition: color 0.3s ease;
}
.site-title::after {
    content: "PREMIUM TAKEOUT";
    display: block;
    font-size: 0.7rem;
    letter-spacing: 3px;
    color: #bfa38a;
    font-family: sans-serif;
    margin-top: -5px;
    margin-left: 50px;
    font-style: normal;
}


/* 共通レイアウト */
.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 30px 10px;
}

.main-content {
    /* background: linear-gradient(to bottom, #1a1a1b, #151515); */
    background-color: rgba(27, 24, 22, 0.9) !important;
    padding: 30px;
}